@import url(font-awesome.css);
body {
    direction: rtl;
    background: #373538;
    color: #f0e9ee;
}
.navbar {
    background-color: #1c1d22;
    background-image: none;
    opacity: 0.9;
}
li:hover{
    transition: ease-in 0.45s;
    background-color:goldenrod;
    color:black;
}
.container{
    background-color:transparent;
}
.navbar-fixed-top{
    border:none;
    border-color:transparent;
}
.CircleDiv{
    border-radius:100%;
    background-color:goldenrod;
}
.person {
    /*border-radius: 50%;*/
    background-color: transparent;
    border: 0.5px solid #f0e9ee;
    top: 50px;
    width: 250px;
    height: 250px;
}
.person:hover {
        transition: ease-in 0.5s;
        
        border: 3px solid goldenrod;
        opacity: 0.8;
        cursor:pointer;
}
.CatContainer{
    color: white;
}
.CourseImgP {
    background: transparent url('../Icons/Piano.jpg');
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#Courses {

    margin-top: 50px;
    color: #f0e9ee;
}
#Courses > .p{
    margin-top:10px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
#LogoHeader{
    
    width:50%;
    height:50%;
    background-color:#808080 ;
}
#CoursleRTL{
    direction:ltr !important;
}
#EventDemo {


}
.Courses{
    margin-top:60px;
}
.courseimage{
  
  height:300px;
  border-radius: 2px;
}